/********** Template CSS **********/
:root {
    --primary: #00B98E;
    --light: #F3F6F8;
    --dark: #0E2E50;
}

.navbar{
    margin: auto;
    padding: 20px;
}

.footer{
    background-image: url("../img/9147451.jpg"); /* The image used */
    opacity: 90%;
    /* background-color: #9aa9ff; Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}